name: Maven package publisher

on:
  release:
    types: [created]

jobs:
  publish:

    name: Maven publish
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@master
      with:
        distribution: 'zulu'
        java-version: 8
    - name: Publish Maven package
      run: mvn -B deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}